@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 2%) 4%,
    hsl(344deg 0% 12%) 33%,
    hsl(344deg 0% 21%) 51%,
    hsl(344deg 0% 30%) 66%,
    hsl(344deg 0% 40%) 77%,
    hsl(344deg 0% 50%) 86%,
    hsl(344deg 0% 60%) 92%,
    hsl(344deg 0% 71%) 96%,
    hsl(344deg 0% 82%) 99%,
    hsl(0deg 0% 94%) 100%
  );
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.loading {
  display: flex;
  
  justify-content: center;
  margin-top: 500px;

}
.temp {
  font-size: 3rem;
  
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
padding: 8px;
margin-left: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  width: 550px;
  height: 550px;
  border-radius:50px ;
  
  background-image: linear-gradient(
    45deg,
    hsl(240deg 19% 6%) 2%,
    hsl(238deg 7% 12%) 50%,
    hsl(239deg 5% 17%) 65%,
    hsl(239deg 4% 22%) 75%,
    hsl(239deg 3% 28%) 82%,
    hsl(239deg 2% 34%) 87%,
    hsl(240deg 2% 40%) 91%,
    hsl(240deg 1% 46%) 94%,
    hsl(240deg 1% 52%) 96%,
    hsl(240deg 1% 59%) 98%,
    hsl(240deg 1% 65%) 99%,
    hsl(240deg 1% 72%) 100%,
    hsl(240deg 1% 79%) 101%,
    hsl(240deg 1% 86%) 101%,
    hsl(240deg 1% 93%) 100%,
    hsl(0deg 0% 100%) 100%
  );

}
input {
  border: none ;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: #151517;
  outline: none;
  font-size: 1rem;
}

img {
 width: 270px;
 
 
  
}

/* icon */
.speedicon {
  font-size: 1.7rem;
}
.humiicon{
  font-size: 1.9rem;
 }


.weatherimg {
  margin-top: 25px;
  display: flex;
  align-items: center;
 flex-direction: column;
}
.weatherinfo {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: -50px;
  align-items: center;
  

}
.weathertemp {
  margin-bottom: 50px;
  padding-top: 40px;
  
}
.weathervalues {
 display: flex;
 flex-direction: column;
justify-content: center;


 
 
}
span:nth-child(1) {
  margin-left: 50px;
 

}
span:nth-child(2) { 
  margin-left: 25px;
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

 
.desc {
  margin-top: -45px;
}
.enterCity {
 margin-top: 80px;
}

.col-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
 
}
.cityname {
  border: 2px solid #5e5858;
  background-color: #1f1c1c;
  padding: 5px 15px ;
  border-radius: 6px;
}
.cityname:hover {
  color: #151517;
  background-color: #dedbdb;
  cursor: pointer;

}

.localtime {
  font-size: 1.6rem;
  text-align: center;
}



